/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #F26522;
$theme-color2: #f2b23d;
$theme-color3: #FF6501;
$theme-color4: #003A6B;




@import "parts/loader";